@media screen and (max-width: 900px){

    .homeContent h2{
        font-size: 25px;
    }

    .homeContent h4{
        font-size: 20px;
    }

    .homeHeri {
        justify-content: center;
    }

}
