#me{
    height: 100vh;
}

.meContent{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.meTextContent1 p{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.meTextContent2 p{
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.skillsContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.skillsContent svg{
    padding: 10px;
    width: 80px;
}