<body>
  <div class="logos">
    <div class="logosSlide">
      <img src="assets/img/logos/1.png" alt="html">
      <img src="assets/img/logos/2.png" alt="css">
      <img src="assets/img/logos/3.png" alt="bootstrap">
      <img src="assets/img/logos/4.png" alt="tailwind">
      <img src="assets/img/logos/5.png" alt="javascript">
      <img src="assets/img/logos/6.png" alt="typescript">
      <img src="assets/img/logos/7.png" alt="angular">
      <img src="assets/img/logos/8.png" alt="vue">
      <img src="assets/img/logos/9.png" alt="vaadin">
      <img src="assets/img/logos/10.png" alt="java">
      <img src="assets/img/logos/11.png" alt="spring framework">
      <img src="assets/img/logos/12.png" alt="php">
      <img src="assets/img/logos/13.png" alt="nodejs">
      <img src="assets/img/logos/14.png" alt="python">
      <img src="assets/img/logos/15.png" alt="flask">
      <img src="assets/img/logos/16.png" alt="c++">
      <img src="assets/img/logos/17.png" alt="mysql">
      <img src="assets/img/logos/18.png" alt="mongodb">
      <img src="assets/img/logos/19.png" alt="postgresql">
      <img src="assets/img/logos/20.png" alt="firebase">
      <img src="assets/img/logos/21.png" alt="mariadb">
      <img src="assets/img/logos/22.png" alt="docker">
      <img src="assets/img/logos/23.png" alt="jwt">
      <img src="assets/img/logos/24.png" alt="maven">
      <img src="assets/img/logos/25.png" alt="postman">
      <img src="assets/img/logos/26.png" alt="linux">
      <img src="assets/img/logos/27.png" alt="freebsd">
    </div>
  </div>
</body>