#carouselComponent {
  margin-top: 20px;

}

@keyframes slide {
  from{
    transform: translateX(50%);

  }

  to {
    transform: translateX(-100%);
  } 
}

.logos {
  display: flex;
  justify-content: center;
  width: 800px;
  overflow: hidden;
  white-space: nowrap;
  padding: 60px 0;
  position: relative;
}

.logos:before, .logos:after {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  content: "";
  z-index: 2;
}

.logos:before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--bg-primary));
}

.logos:after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--bg-primary));
}


.logos:hover .logosSlide{
  animation-play-state: paused;
}

.logosSlide {
  display: flex;
  align-items: center;
  animation: slide 120s infinite linear;
}

.logosSlide img {
  filter: grayscale(100%);
  width: 90px;
  padding: 20px;
}

.logosSlide img:hover{
  filter: grayscale(0%);
  transition: all 1s;
  /*filter: drop-shadow(0 0 5px var(--primary-color));*/
}