<body>
    <div>
            <div>
                <input type="text" class="" id="nameInput" placeholder="Your Name">
            </div>
            <div>
                <input type="email" class="" id="mailInput" placeholder="Your Email">
            </div>
            <div>
                <input type="Subject" class="" id="subjectInput" placeholder="Subject">
            </div>
            <div>
                <textarea class="" id="messageInput" placeholder="Message"></textarea>
            </div>
            <div>
                <button id="btnSendMessage" type="button">Send</button>
            </div>
    </div>
</body>