<body>
    <div class="modalContent">
        <div class="modalForm">
            <input class="contactInput" type="email" placeholder="Your email" required>
            <input class="contactInput" type="text" placeholder="Subject" required>
            <input class="contactInput" type="text" placeholder="Your name" required>
            <input class="contactInput" type="text" placeholder="Your number" required>
            <textarea class="contactInput messageTextArea" type="text" placeholder="Message" required></textarea>
            <button type="button" class="btnSend">Contact</button>
        </div>
    </div>
    <div class="backgroundModal"></div>
</body>