@media only screen and (max-width: 900px){

	#header{
    	display: none;
    	position:inherit;
	}

	.headerContent{
		background-image: none;
		background-color: var(--primary-color);
	}

	nav{
		margin: 0;
	}

	nav ul{
    	display: block;
	}

	nav li{
    	list-style: none;
    	padding: 20px;
		text-align: center;
	}

	nav li a{
		font-size: 2rem;
    	text-decoration: none;
    	color: var(--primary-text-color);
    	padding:0px;
	}

	nav li a:hover {
    	border-radius: 0px;
    	color: var(--primary-color);
    	transition: all 1s;
	}
}
