<div>
    <div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque incidunt doloribus necessitatibus illum sit nam voluptatum in eum similique rem, optio sunt rerum dignissimos temporibus reprehenderit minus hic. Odit, rerum?</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, provident possimus voluptas reprehenderit autem eveniet perspiciatis repellat impedit blanditiis magnam assumenda distinctio nam aperiam vero dolor modi fuga odio dolorem.</p>
        </div>
    </div>
</div>